.icons {
  width: 20px;
  margin-right: 7px;
}
.dropdown {
  width: 440px;
  border-radius: 4px;
  font-size: 1em;
  color: #333;
}

.radio-row {
  display: flex;
  gap: 1px;
  align-items: center;
}

.radio-row div {
  display: flex;
  align-items: center;
}

.radio-row input[type="radio"] {
  margin-right: 5px;
}

.radio-row label {
  margin: 10px;
}

.step-name-row {
  display: flex;
  align-items: center;
  cursor: pointer; /* Makes the cursor a pointer to indicate it's clickable */

  /* justify-content: space-between;  This decides space between svg and stepname */
}

.step-icon {
  width: 33px;
  height: 32px;
  fill: none;
  margin-right: 24px;
  margin-left: 20px;
}

.summary-step-card {
  /*border-radius:20px !important;*/
  border-radius: 10px !important;
  color: black;
  position: relative;
  display: inline;
  overflow: visible;
}



.inside-card {
  /*border-radius:20px !important;*/
  display: block;
  margin-left: 79px;
}

.inside-card-button-row {
  /*border-radius:20px !important;*/
  color: blue;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.edit-button {
  width: 60px;
  padding: 10px;
  border: solid #a0adba;
  border-width: 1px;
  border-radius: 4px;
  background-color: #f9fafb;
  color: #212934;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.confirm-button {
  width: 90px;
  padding: 10px;
  border-width: 1px;
  border: solid #0653a4;
  border-radius: 4px;
  background: linear-gradient(#1565c0, #0650a3);
  color: white;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.Question-value-area {
  color: black;
  display: flex;
  border-radius: 4px;
  align-items: center;
  margin-bottom: 10px;
}
#Question-value-areaH3 {
  margin-left: 335px; /* Adjust the margin value as needed */
}

.submittedForm-page {
  position: relative;
  top: 40%;
  width: 100%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align horizontally */
  text-align: center; /* Center align text */
}

.submittedForm-page h2 {
  margin-bottom: 20px; /* Add spacing below heading */
}

.submittedForm-page svg {
  margin-bottom: 20px; /* Add spacing below SVG */
}

.create-new-form-button {
  padding: 10px;
  border: solid #0653a4;
  border-radius: 4px;
  background: linear-gradient(#1565c0, #0650a3);
  color: #fff;
  cursor: pointer;
}

.create-new-form-button:hover {
  background-color: #1565c0;
}

.ratio-checker-field {
  /*border-radius:20px !important;*/
  color: red;
}

.section-row {
  display: flex;
  width: 100%;

  div {
    display: flex;
    margin-bottom: 2rem;

    &:first-child {
      width: 50%;
    }

    &:last-child {
      width: 20%;
    }
  }
}

.mendatory {
  color: rgb(143, 1, 1);
}
.error {
  color: rgb(143, 1, 1);
  font-size: 0.875rem;
  display: block;
  margin-top: 5px;
  text-align: right;
}
input.error {
  border: 2px solid rgb(143, 1, 1);
}

input.error:focus {
  border-color: rgb(99, 0, 0); /* Keep red border when focused */
  outline: none; /* Optional: remove default outline */
}
.Progressbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.stepper_row {
  width: 100%;
}
.step-item {
  cursor: pointer; /* Makes the cursor a pointer to indicate it's clickable */
  display: flex;
  align-items: center; /* Align items vertically in the center */
}
.step-item img {
  margin-right: 10px; /* Distance between step Name and circle */
}

.step-item::after {
  content: "";
  width: 100px; /* Adjust the width as needed */
  height: 2px;
  background-color: grey;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.step-item:last-child::after {
  content: none;
}

.newline {
  display: block;
  margin-bottom: 20px; /* Adjust the spacing as needed */
}

.Progressbar-nav li {
  margin-right: 10px; /* Adjust the spacing between items as needed */
}
.hidden {
  display: none;
}

.stepper {
  display: flex;
  padding: 24px;
  width: 100%;

  ol {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.fRow {
  padding: 20px 20px;
  border-bottom: 1px solid rgb(179, 181, 179);
}
