/* Global Styles */

/* Form Container */
.form-container {
  width: 100%;
  background-color: #f8f9fa;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0px 40px 40px 40px;
}

/* Form Title */
.form-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #00509e;
}

/* Form Group */
.form-group {
  padding: 10px 100px;
  background-color: #fafafa; /* Default light background */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Alternating background colors for form groups */
.form-group:nth-child(odd) {
  background-color: #fdfcfb; /* Light blue background */
  border-top: 1px solid rgb(179, 181, 179);
}

.form-group:nth-child(even) {
  border-top: 1px solid rgb(179, 181, 179);
  background-color: #f8f9fa; /* Light gray background */
}

/* Form Label */
.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

/* Form Input */
.form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 10px;
}

/* Form Select */
.form-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
  margin-top: 10px;
}

/* Buttons */
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #00509e;
  color: #fff;
}

.btn-primary:hover {
  background-color: #003f7d;
}

.btn-secondary {
  color: #094c00;
  margin: 1rem;
  padding-left: 40px;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-small {
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
}

.file-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.file-name {
  margin: 0;
}

.delete-btn {
  margin-left: 10px;
  background-color: #e74c3c; /* Red color for delete button */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.delete-btn:hover {
  background-color: #c0392b;
}

/* Location Info */
.location-info {
  margin-top: 1rem;
  padding-left: 40px;
  background-color: #f9f9f9;
}

/* Response Message */
.response-message {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #28a745;
}
