.t12 {
  font-size: 0.75rem;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

.t14 {
  font-size: 0.875rem;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

.t16 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

.t24 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

.submitted-inspections {
  width: 90%;
  margin: auto;
}

.error-message {
  margin-top: 10px;
  margin-bottom: 20px;
}
